body{
    color: white;
    background-color: black;
    text-align: center;
}
div{
    width: 50%;
    margin-left: 25%;
}
h1{
    font-family: "Libre Baskerville";
    text-transform: uppercase;
}
img{
    border: 5px solid white;
    width: 100%;
}